body {

}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  margin: 0 auto;
  width: 92%;
  max-width: 768px;
}

article {
  width: auto;
}

h1#site-title {
  font-size: 50px;
  color: #5B1865;
  font-family: Trebuchet MS;
  text-align: center;
}

h1#article-title {
  font-size: 30px;
  color: #5B1865;
  font-family: Trebuchet MS;
}

h2 {

}

p {
  background: #dcffd8;
  font-family: Trebuchet MS;
  margin-top: 12px;
  margin-bottom: 12px;
}

figure {
  margin: 0;
  width: 300px;
  border: 1px solid blueviolet
  padding: 5px;
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure.main-image {
  margin-bottom: 32px;
}

figure.section-image {
  max-width: 300 px
  height: auto
  float: right;
}

figcaption {
  font-size: 15px;
  font-family: Trebuchet MS;
}

p img {
  float: right;
  max-width: 40%;
  margin-left: 20 px;
  margin-bottom: 32 px
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;

}

nav ul li {

}

nav ul li a {
  color: #09814A;
  text-decoration: none;
  padding: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;

}

header nav ul li a:hover {
  border-bottom: 5px dashed #5B1865;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: normal;
  color: #32746D 
}

header nav ul {
  border-top: 1px dashed #5B1865;
  border-bottom: 1px dashed #5B1865;
}

 footer nav {

 }

 footer nav ul li a {

 }

 footer nav ul li a:hover {

 }

 footer#page-footer {

 }
 

 