article {
  width: 800px;
}
h1 {
  font-size: 50px;
  color: #5B1865;
  font-family: Trebuchet MS;
}
figure {
  width: 300px;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
figcaption {
  font-size: 15px;
  font-family: Trebuchet MS;
}
p {
  background: #dcffd8;
  font-family: Trebuchet MS;
  margin-top: 12px;
  margin-bottom: 12px;
}
a {
  font-weight: bold;
  color: #09814A;
 }

 ul li a {
  text-decoration: none;

 }
 ul li a:hover {
  text-decoration: underline;
  font-weight: normal;
  color: #32746D 
 }
 
 .screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}